

#main1 * {
	padding: 0;
	display: block;
  	position: relative;
	overflow: hidden;


}
#main1 ul li {
	width: 300px;
	float: left;
	list-style: none;
	background:#FFFFFF;
	margin:15px 15px 15px;
}

#main1 li img {
	display: block;
	padding: 5px;
	background-color: #FFF;
    margin-left: 80px;

}

#main1 p {
	text-align:center;font-size:18px;
}

